
.myCol ul li{
   list-style-type: none;
   padding: 20px;
   border: #cccccc solid 1px;
   margin-bottom: 5px;
    background-color:#e6e6e6 ;
   
}
.title{
    padding-top: 9px;
}
.myCol .tt{
    margin-top: 10px;
}
.myCol .sForm{
    width: 100%;
    height: 300px;
    background-color: #35424a ;
}
.myCont55 input,.myCont55 textarea{
    display: block;
    /* margin-top:10px; */
}
.myCont55{
    width: 70%;
    /* height: 260px;    */
    padding-top: 30px;
    /* border:red solid 2px; */
}